.Input {
    width: 100%;
    padding: 10px;
    margin: 2%;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    font: inherit;
    padding: 6px 10px;
    /* display: block; */
    width: 100%;
    background-color: transparent;
}

.InputElement:focus {
    outline: none;
    background-color: transparent;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}